.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  outline: transparent;
}

.delay-input {
  width: 360px;
  height: 40px;
}
.state-input {
  height: 66px;
  width: 360px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}
.btn:hover,
.btn:focus {
  background: #6c8cff;
}
